NODE_ENV=development
PORT=3040
DATABASE_URL=postgresql://ping:ping_2026@187.77.56.138:5432/ping
JWT_SECRET=changeme
RESEND_API_KEY=
RESEND_FROM_EMAIL=noreply@geengoo.com.br
BASE_URL=http://localhost:3040
SUPERADMIN_EMAIL=admin@geengoo.com.br
WORKER_SECRET=gere-com-openssl-rand-base64-32
WEB_BASE_URL=https://ping.geengoo.io
